@charset "utf-8";

{
    margin: 0;
    padding: 0;
}

header, footer, aside, nav, article {
    display: block;
}

body {
    margin: 0 auto;
    width: 940px;
    font-family: 13px/22px "Arial";
   	background-color: #D3D3D3;
}

h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
    margin: 0 auto;
}
 
h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
}
 
p {
    padding-bottom: 25px;
    margin: 0 auto;

}

nav {
	width:100%;
	margin:0 auto;
	background: url("/Users/Mat/Desktop/EDA/MathieuOscoso.github.io/unit1_projects/images/navbarbackground.png ");
	padding: 5px 5px 5px 5px;
	border: 1px 0;
}
nav ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

nav ul li {
	display: inline-block;
	margin-left: 115px;
	padding: 7px
	color: #777
}

nav ul li a {
	text-decoration: none;
	text-align: center;
	color: #777;
}

  nav ul li a:hover {
    color: #FFFFFF;
}
nav ul li.selected a {
     color: #FFFFFF;
}


footer {
	display: block;
	background: url("/Users/Mat/Desktop/EDA/MathieuOscoso.github.io/unit1_projects/images/navbarbackground.png ");
	text-decoration: none;
}

footer section header h2 {
	color: #777;
	margin-bottom: 0 0 0 0;
}

footer section header p {
	color: #777;
	text-align: justify;
}




