@charset "utf-8";

@font-face {
    font-family: pacifico;
    src: url(../font/Pacifico.ttf);
}

@font-face {
    font-family: yo;
    src: url(../font/yo.ttf);
}

/*general rules*/
html {
    min-height: 100%;
    position: relative;
}

header, footer, section, article {
    display: block;
}
 
body {
    margin: 0 auto;
    width: 940px;
    font: 13px/22px pacifico; Helvetica, sans-serif;
    background: #FFF;
    background-image:linear-gradient(#D8D8D8 0%, #FFF 100%);
}

h2 {
    font-size: 35px;
    line-height: 15px;
    padding: 22px 0;
    margin-left: 12px;
}

h3 {
    font-size: 78px;
    line-height: 22px;
    padding: 11px 0;
    margin-left: 10px;
    font-weight: 100;
}

h3:hover {
    color: #D8D8D8;
}


a {
    text-decoration: none;
}

p {
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*header*/
header {
    background-repeat: repeat;
    text-shadow: 0px 0px 5px #000;
    background-image: url(http://colrd.com/inc/css/images/layout/woodgrain-dark.png);
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    text-align: center;
    border: 1px solid;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    z-index: 1;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
    margin: auto;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
}

header ul li a:hover {
    color: #EEE;
}
 
header ul li a:active {
    color: #EEE;
}

header ul li a:visited {
    color: #EEE;
    background-image:linear-gradient(#EEE 0%, #FFF 100%);
}

section {
    margin: 0 20%;
}

#welcome {
    font-family: yo;
    margin-top: 83px;
    text-align: center;
    position: relative;
    width: 40%;
    height: 80px;
    left: 10%;
}

#blogpost:before, #blogpost:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,3);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 

#blogpost {
    font-family: cursive;
    background-color: white;
    margin-bottom: 80px;
    padding: 10px;
    position:relative;
    background-image: linear-gradient(#EEE 0%, #FFF 100%)       
}

#blogpost:before, #blogpost:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,3);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 

#text {
    text-align: justify;
}

#text:first-letter {
    font-size: 30px;
}

.image {
    width: 100%;
    margin-top: 10px;
    margin-bottom: -5px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(29, 29, 226, 0.68);
}


footer {
    background-image: url(http://colrd.com/inc/css/images/layout/woodgrain-light.jpg);
    height: 50px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 4;
    box-shadow: 10px 10px 10px 10px black;
}

/*some Jquery to do :9 */
#gotop {
    display: none; 
    height: 57px;       
    width: 50px; 
    background: green; 
    position: fixed; 
    right: 0px; 
    bottom: 0px; 
    z-index: 100;

}







